.bold {
  font-weight: bold;
}

* {
  font-family: "Arial";
}

body {
  color: #0D47A1;
  background-color:#1565C0;
}

input {
  font-size: 1.5em;
}

/* scorebox styles */
.scoreBox {
  font-size: 0.8em;
  float: left;
  padding: 5px;
  margin: 5px;
  width: 100px;
  background: #BBDEFB;
}

.scoreBox td {
  padding: 4px;
}

.scoreBox th {
  font-size: 0.7em;
}

.scoreBox tbody, thead{
  width: 100%;
}

.scoreBox button {
  border: none;
  color: #0D47A1;
  font-style: italic;
  cursor: pointer;
  background: transparent;
}

/* details box styles */
.detailsBox {
  padding: 20px;
  margin: auto;
  background-color: #BBDEFB;
  max-width: 400px;
  clear: both;
  border-collapse: collapse;
}

.detailsBox td {
  border: 1px solid #BBDEFB;
  padding: 5px;
  margin: 0px;
  background-color: #90CAF9;
  color: #0D47A1;
}
/* generic table styles */
table {
  border-collapse: collapse;
}

th {
  padding: 5px;
  background-color: #0D47A1;
  color: white;
}

/* score table styles */
#scoreTable {
  padding: 20px 0;
  margin: 20px 0;
  background-color: #BBDEFB;
}

/* team selector toggles styles */
#teamSelector {
  text-align: center;
  margin-bottom: 20px;
}

#teamSelector button {
  font-size: 1em;
  background-color: #0D47A1;
  color: white;
  border: none;
  cursor: pointer;
  padding: 15px;
  margin: 5px;
}

/* empty game banner */
#emptyGames {
  padding: 20px;
}

#dateSelector, #mainHeading, #emptyGames  {
  text-align: center;
  color: #BBDEFB;
}
