.bold {
  font-weight: bold;
}

* {
  font-family: "Arial";
}

input {
  font-size: 1.5em;
}

.scoreBox {
  font-size: 0.8em;
  float: left;
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
  width: 100px;
  table-layout: auto;
}

.scoreBox th {
  font-size: 0.7em;
}

.scoreBox tbody, thead{
  width: 100%;

}

.detailsBox {
  padding: 20px;
  clear: left;
  margin: auto;

  width: 400px;
  border: 1px solid black;
}

#scoreTable {
  border: 1px solid black;
  padding: 20px;
  margin: 20px;
}

#teamSelector {
  text-align: center;
  margin-bottom: 20px;
}

#teamSelector, button {
  font-size: 1em;
}
